/*Entire Page*/
body {
    width: 100%;
    height: 100%;
}

/*Cover Page*/
#coverpage {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/cover.jpg) no-repeat center center fixed;
    background-position: center;
    background-size: cover;
}
#intro {
	text-align: center;
	top:45%;
	position: relative;
}

/*Profile*/

header {
	z-index: 30 !important;
}

/*Project*/
#project {
	width: 100%;
	background: #f9f7f6;
	padding-top: 30px;
}
#type ul{
	padding: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}
#type li {
	display: inline;
	padding: 10px 10px;
}
#type li a {
	color: black;
	text-decoration: none;
}


@media screen and (min-width: 1000px) {
    .thumbnail{        
    	margin-right:3.33333%;
    	margin-bottom: 70px;
	}
	.col-md-4 {
		width: 30%;
	}
}


/*Contact*/
#contact {
	background: #f0e5dd;
}

/*Footer*/
#footer {
	background: #615955;
}

/*Custom Button*/
.mybutton {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.0);
  opacity: 1.0;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 3px;
  text-decoration: none;
}

.mybutton:hover {
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}